body
{
    background-color:   rgb(100,100,100);
}

.wrapper
{
    color:              #fff;
    min-width:          1000px;
    width:              100%;
    margin-right:       auto;
    margin-left:        auto;
    font-size:          14px;
    font-family:        arial, sans-serif;
}

header
{
    text-align:         center;
}

h1
{
    text-align: center
}

h2
{
    font-size:          18px;
    text-decoration:    underline;
}

h3
{
    font-size:          16px;
    text-decoration:    underline;
    margin-bottom:      0;
}

h4
{
    font-size:          14px;
    font-style:         italic;
    text-decoration:    underline;
    margin-bottom:      0;
}

.sidebarLinksiFrame
{
    float:              left;
    height:             50px;
    margin-bottom:      5px;
    padding-bottom:     2px;
}

.sidebarLinksiFrame iframe
{
    width:              150px;
    height:             100%;
    margin-right:       5px;
    border:             1px     solid   #000;
    border-radius:      5px;
    font-size:          14px;
}

.sidebarLinks
{
    float:              left;
    color:              #FFF;
    background:         rgb(0,0,100);
    font-size:          14px;
    font-family:        arial, sans-serif;
}

.sidebarLinks ul
{
    list-style-type:    disc;
    margin:             0;
    padding-left:       10px;
    padding-right:      5px;
}

.nestedList li
{
    list-style-type:    square;
}

.sidebarLinksHyperlink
{
    color:              #FFF;
    text-decoration:    none;
}

.sidebarLinksHyperlink:hover
{
    color:              orange;
}

.indexSection
{
    overflow:           hidden;
    color:              rgb(255,255,255);
    background:         rgb(50,50,50);
    border:             1px     solid   #000;
    border-radius:      5px;
    margin:             5px;
    padding:            10px;
}

.indexSection p
{
    margin:             0;
}

.indexSection pre
{
    margin:             0;
    font-size:          13px;
}

footer
{
    clear:              both;
}

footer iframe
{
    width:              100%;
    height:             20px;
    border:             1px     solid   #FFF;
    border-radius:      5px;
}

.fusszeile
{
    margin:             2px;
    padding:            0;
    color:              #fff;
    background:         #000;
    font-size:          14px;
    font-family:        arial, sans-serif;
}

.fusszeile ul
{
    float:              left;
    list-style:         none;
    padding:            0;
    margin:             0px;
}

.fusszeile li
{
    margin-right:       5px;
    display:            inline;
}

.fusszeile p
{
    margin:             0;
    text-align:         right;
}

.fusszeile a
{
    color:              #FFF;
    text-decoration:    none;
}

.fusszeile a:hover
{
    color:              rgb(150,150,255);;
}
