@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
    background-color:   rgb(100,100,100);
    background-image:   url("./media/universe-2742113_1920.jpg");
    background-size:    cover;
    color:              #fff;
    font-size:          14px;
    font-family:        'Roboto', 'arial', sans-serif;
}

.wrapper
{
    display:            flex;
    flex-direction:     column;
    min-width:          1000px;
    width:              100%;
}

header
{
    text-align:         center;
}

h1
{
    font-size:          28px;
    text-align:         center;
    margin:             0;
}

h2
{
    font-size:          18px;
    text-decoration:    underline;
    margin:             0;
}

h3
{
    font-size:          16px;
    text-decoration:    underline;
    margin:             0;
}

h4
{
    font-size:          14px;
    font-style:         italic;
    text-decoration:    underline;
    margin:             0;
}

a
{
    color:              #0092ff;
    color:              orange;
}

p
{
    margin:             0;
}

ul
{
    padding-top:        0;
    padding-bottom:     0;
    margin-top:         0;
    margin-bottom:      0;
}

.flexBox
{
    display:            flex;
}

.sideBarLinksContainer
{
    width:              150px;
    min-height:         150px;
    margin:             0 10px 0 0;
}

.sideBarLinksContainer iframe
{
    width:              100%;
    height:             100%;
    border:             solid 1px #000;
    border-radius:      5px;
    display:            flex;
}

.contentContainer
{
    width:              100%;
    border:             solid 1px #000;
    border-radius:      5px;
    margin:             0px 0px 0px 0px;
    padding:            5px 5px 5px 5px;
    background-color:   rgba(20,20,20,0.95);
}

footer
{
    clear:              both;
    display:            flex;
    margin:             5px 0px 0px 0px;
}

.fusszeileContainer
{
    display:            flex;
    border:             solid 1px #fff;
    border-radius:      5px;
    height:             18px;
    width:              100%
}
